@charset "utf-8";
/* CSS Document */
*{ margin:0;
 padding:0;
 	
	}
#max{
	width:100px;
	height:110px;	
	margin:300px auto;
}
.re{
	
	position:relative;
}
#max ul{
list-style-type:none;	
}
#max ul>li{  /*太傻了，ul不是ui* ui就是长长的从上·到下*/
	position:absolute;
	width:130px;
	height:120px;
	transition: 0.8s;
	opacity:0;
	margin-right: 400px;
	top: -162px;
	
	}
#max ul>li img{
	width:100px;
	height:110px;
}
